extends skeleton.pug

block content
    div
        a(href="/games") Accueil parties

        h1 Détails de la partie

        form(action=`/games/${id}/players`, method="GET")
            input(type="submit" value="Gestion des joueurs")

    //- each g in game
    h4 Nom de la partie
    p= name 

    h4 Mode de jeu
    p= mode

        h4 Joueurs 
        table(style="width: 20%", border=2)
            tr 
                th Nom 
                th Ordre 
                th Darts
                th Score
            if gameplayers.length === 0
                p Pas de joueurs inscrits à cette partie 
            else
                each player in gameplayers
                    tr(style="text-align: center")
                        td= player.Player.name
                        td= player.Player.order 
                        td= player.remainingShots
                        td= player.score
                    //- each shot in g.GameShots
                    //-     if shot.playerId === player.Player.id
                    //-         td= score - shot.sector 
                        //- else 
                        //-     td= player.score

        form(action=`/games/${id}/edit`, method="GET")
            input(type="submit" value="Éditer")
        
        form(action=`/games/${id}?_method=DELETE`, method="POST")
            input(type="submit" value="Supprimer")
        
        div 
            hr

            h1 Partie en cours ...

            h4 Règles du jeu :
            p Chaque joueur commence la partie avec 301 points. 
            p Chacun leur tour, les joueurs vont lancer trois fléchettes afin de baisser leur score.
            p Le premier joueur qui arrive exactement à zéro a gagné.

            h4 A vous de jouer 
            
            if gameplayers.length >= 2
                if current_name != null
                    p= current_name
                else
                    p Aucun joueur n'a rejoint la partie

                form(action=`/games/${id}/shots`, method="POST")
                    - let index = 1
                    while index <= 20
                        input(type="submit", name="shot", value=index++)
                    input(type="submit", name="shot", value=25)
            else
                p Il faut au moins 2 joueurs pour lancer la partie

        

    //- //- h4 Mode de jeu choisi
    //- //- p= game.mode

    //- //- h4 test 
    //- //- p=game.createdAt

    //- form(action=`/api/games/${game.id}/edit`, method="GET")
    //-     input(type="submit" value="Éditer")
    
    //- form(action=`/api/games/${game.id}/delete`, method="POST")
    //-     input(type="submit" value="Supprimer")

//- <-------------------- passer gameplayers comme ça permet de parser vers Game
