extends skeleton.pug 

block content 
    h1 Liste des joueurs de la partie 

    if players.length === 0
       p Pas de joueurs trouvés
    else
        p Participant(s)
        form(action=`/api/games/${id}/players/delete`, method="POST")
            table(style="width:40%", border=2)
                tr
                    th Nom 
                    th Email 
                    th Actions 
                each player in players
                    if player.GamePlayers.length != 0
                        // && player.GamePlayers.gameId === id 
                        tr(style="text-align: center") 
                            td= player.name 
                            td= player.email
                            td
                                input(type="checkbox", name="checked" value=player.id)
            input(type="submit" value="Retirer")
        p Reste des joueurs
        form(action=`/api/games/${id}/players/`, method="POST")
            table(style="width:40%", border=2)
                tr
                    th Nom 
                    th Email 
                    th Actions 
                each player in players
                    if player.GamePlayers.length === 0
                        tr(style="text-align: center") 
                            td= player.name 
                            td= player.email
                            td
                                input(type="checkbox", name="checked" value=player.id)             
            input(type="submit" value="Ajouter")