extends skeleton.pug 

block content 
    h1 Liste des joueurs de la partie 

    if players.length === 0
       p Pas de parties trouvées
    else
        p Participant(s)
        table(style="width:40%", border=2)
            tr
                th Nom 
                th Email 
                th Actions 
            each player in players
                if player.GamePlayers.length != 0
                    // && player.GamePlayers.gameId === id 
                    tr(style="text-align: center") 
                        td= player.name 
                        td= player.email
                        td
                            form(action=`/api/games/${id}/players/${player.id}`, method="POST")
                                input(type="submit" value="Supprimer")
        p Reste des joueurs
        table(style="width:40%", border=2)
            tr
                th Nom 
                th Email 
                th Actions 
            each player in players
                if player.GamePlayers.length === 0
                    tr(style="text-align: center") 
                        td= player.name 
                        td= player.email
                        td
                            form(action=`/api/games/${id}/players/${player.id}`, method="POST")
                                input(type="submit" value="Ajouter")