extends skeleton.pug 

block content 
    h1 Liste des joueurs de la partie 

    if players.length === 0
       p Pas de joueurs trouvés
    else
        p Participant(s)
        form(action=`/games/${id}/players?_method=DELETE`, method="POST")
            table(style="width:40%", border=2)
                tr
                    th Nom 
                    th Email 
                    th Actions 
                if gameplayers.length === 0
                    p Aucun joueur inscrit 
                else
                    each player in gameplayers
                        tr(style="text-align: center") 
                            td= player.Player.name 
                            td= player.Player.email
                            td
                                input(type="checkbox", name="checked" value=player.id)
            input(type="submit" value="Retirer")
        p Reste des joueurs
        form(action=`/games/${id}/players/`, method="POST")
            table(style="width:40%", border=2)
                tr
                    th Nom 
                    th Email 
                    th Actions 
                each player in players
                    if player.GamePlayers.length === 0
                        tr(style="text-align: center") 
                            td= player.name 
                            td= player.email
                            td
                                input(type="checkbox", name="checked" value=player.id)             
            input(type="submit" value="Ajouter")

    p
        a(href=`/games/${id}`) Retour au détails de la partie
    